@model ApplyInk.Web.Data.Entities.Shop

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Latitude" class="control-label"></label>
    <input asp-for="Latitude" class="form-control" />
    <span asp-validation-for="Latitude" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Logitude" class="control-label"></label>
    <input asp-for="Logitude" class="form-control" />
    <span asp-validation-for="Logitude" class="text-danger"></span>
</div>


